<ion-header>
  <ion-toolbar>
    <ion-title>{{'DASHBOARD.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>





  <ion-card>
    <ion-item>
  
      <ion-label>{{'DASHBOARD.test' | translate}}</ion-label>
    
    </ion-item>
    <ion-item>
  
      <ion-label>{{'test' | sample}}</ion-label>
    
    </ion-item>
  
    <ion-card-content>
      <app-sample></app-sample>
    </ion-card-content>
  </ion-card>

</ion-content>